{% load static %}
<header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="{% url 'index' %}">
                                        <img src="img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="{% url 'index' %}">home</a></li>
                                            <li><a href="{% url 'about' %}">About</a></li>
                                            <li><a class="" href="{% url 'destination' %}">Destination</a></l/li>
                                            <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                            
                                                       
                                                </ul>
                                            </li>
                                            <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{% url "show_blog" %}">blog</a></li>
                                                    <li><a href="{% url 'single_blog' %}">single-blog</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'contacts' %}">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 d-none d-lg-block">

                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                              <li><a href="{% url 'contacts' %}">Contact</a></li>

                                              {% if user.is_authenticated %}
                                            <li><a href="#">{{user.username}} <i class="fas fa-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'userprofile' %} "> {{user.username}}profile</a></li>
                                                    <li><a  href="{% url 'logout' %}">logout </a><i class="fal fa-sign-out"></i></li>
                                                </ul>
                                            </li>
                                              {% else %}
                                            <li><a href="{% url 'login' %}">signin</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                                </div>
                                </div>



                            <div class="seach_icon">
                                <a data-toggle="modal" data-target="#exampleModalCenter" href="#">
                                    <i class="fa fa-search" fill="white">Search</i>
                                </a>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

  
 