{% extends 'base.html' %} {% load static %}
{% block head %}
    <title>YatriStation</title>
{% endblock %}
 {% block content %}
{% if user.is_authenticated %}
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{ user.username }}</h1></div>
    	<div class="col-sm-2"><a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->


      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>


          <div class="panel panel-default">
            <div class="panel-heading">Email</div>
            <div class="panel-body"><a href="http://bootnipets.com">{{user.email}}</a></div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Contact</div>
            {% for userones in userone %}

            <div class="panel-body"><a href="http://bootnipets.com">{{ userones.contact }}</a></div>
         
          </div>
            <div class="panel panel-default">
            <div class="panel-heading">Address</div>
            <div class="panel-body"><a href="http://bootnipets.com">{{ userones.address}}</a></div>
          </div>
             {% endfor %}



          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong></strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
          </ul>

          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>

        </div><!--/col-3-->
      </div>
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                &nbsp;   &nbsp;   &nbsp;<li><a data-toggle="tab" href="#messages">Guider</a></li>
                &nbsp;   &nbsp;   &nbsp; <li><a data-toggle="tab" href="#settings">ASD</a></li>
                &nbsp;   &nbsp;   &nbsp; <li><a data-toggle="tab" href="#notification">notification</a></li>
              </ul>


          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="show_blog" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                      <div class="form-group">
                                <h2>Write a Blog</h2>
                          <div class="col-xs-6">
                              <label for="Enter title"><h4>Enter title</h4></label>
                              <input type="text" class="form-control" name="title"  placeholder="Blog Title" >
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="description"><h4>Descriptions </h4></label>
                                         <textarea class="form-control w-100" name="description" id="message" cols="30" rows="9" placeholder="Describe Your blog"></textarea>
                          </div>
                      </div>


                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="file"><h4>upload image</h4></label>
                              <input type="file" class="form-control" name="blog_pic"  >
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
                      blogposted by: <input type="text" hidden="hidden" name="username" value="{{user.username}}">{{user.username}}
              	</form>

              <hr>
            

             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">

               <h2></h2>

               <hr>
                  <form class="form" action=" " method="post" id="registrationForm" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                            <div class="col-xs-6">
                            <h4>Gender</h4> <input type="radio" value="male" name="gender">Male &nbsp; &nbsp; <input type="radio" value="female" name="gender"> Female
                          </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="contact"><h4>Contact No:</h4></label>
                              <input type="text" class="form-control" name="contact" id="last_name" placeholder="Enter cell number">
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="Address"><h4>Address</h4></label>
                              <input type="text" class="form-control" name="address"  placeholder="Enter your address " >
                          </div>
                      </div>

                      
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="Address"><h4>Address</h4></label>
                              <input type="text" class="form-control" name="guider"  placeholder="Enter your address " >
                          </div>
                      </div>

                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>

             </div></div><!--/tab-pane-->
             <div class="tab-pane" id="settings">


                  
                  <hr>
                  <form class="form" action="homestay" method="post" id="registrationForm" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group"> 
                      <div class="col-xs-6"> 
                              <h4>Get Estimation</h4><br/>
                                <select name="getestimation"><i class="far fa-caret-square-down"></i>
                                  <option value="0">___Estimate___</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                </select>
                          <br/>
                        </div>
                      </div><br/>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="homestay"><h4>Home Stay Name</h4></label>
                              <input type="text" class="form-control" name="homestayname" id="homestay" placeholder="Home stay name">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="phone"><h4>Popular Amenities</h4></label><br/>
                        
                              <textarea class="form-control w-100" name="popularamenitities" cols="30" rows="9" placeholder="Describe Your popularamenitities"></textarea>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Price</h4></label>
                              <input type="text" class="form-control" name="price" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                          </div>
                      </div>
                      <div class="form-group">

                           <div class="col-xs-6">
                            <label for="description"><h4>Price Details</h4></label>
                              <textarea class="form-control w-100" name="pricedetail" id="message" cols="30" rows="9" placeholder="Describe Your blog"></textarea>
                      </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="email"><h4>Location</h4></label>
                              <input type="text" class="form-control" name="location" placeholder="somewhere" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="email"><h4>Pan Number</h4></label>
                              <input type="text" class="form-control" name="pannumber"placeholder="somewhere" >
                          </div>
                      </div>
                      <div class="form-group">

                           <div class="col-xs-6">
                            <label for="description"><h4>Food and Drinks</h4></label>
                              <textarea class="form-control w-100" name="foodanddrinks" id="message" cols="30" rows="9" placeholder="Describe Your blog"></textarea>
                      </div>
                      </div>
                      <div class="form-group">

                           <div class="col-xs-6">
                            <label for="description"><h4>Guest Services</h4></label>
                              <textarea class="form-control w-100" name="guestservice"  cols="30" rows="9" placeholder="Describe Your blog"></textarea>
                      </div>
                      </div>
                       <div class="form-group">

                           <div class="col-xs-6">
                            <label for="description"><h4>Outdoors</h4></label>
                              <textarea class="form-control w-100" name="outdoors" cols="30" rows="9" placeholder="Describe Your blog"></textarea>
                      </div>
                      </div>
                      <div class="form-group">

                           <div class="col-xs-6">
                            <label for="description"><h4>Accessibility</h4></label>
                              <textarea class="form-control w-100" name="accessibility" cols="30" rows="9" placeholder="Describe Your blog"></textarea>
                      </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                            <label for="file"><h4>HomeStay Picture</h4></label>
                              <input type="file"  name="picture_main"  >
                          </div>
                        </div>
                          <div class="form-group">
                          <div class="col-xs-6">
                            <label for="file"><h4>Room1 Pic</h4></label>
                              <input type="file" class="form-control" name="room1pic"  >
                          </div>
                        </div>
                          <div class="form-group">
                          <div class="col-xs-6">
                            <label for="file"><h4>Room2 Pic</h4></label>
                              <input type="file" class="form-control" name="room2pic"  >
                          </div>
                        </div>
                          <div class="form-group">
                          <div class="col-xs-6">
                            <label for="file"><h4>Outdoor pic</h4></label>
                              <input type="file" class="form-control" name="outdoorpic"  >
                          </div>
                        </div>
                          <div class="form-group">
                          <div class="col-xs-6">
                            <label for="file"><h4>Citizenship Front</h4></label>
                              <input type="file" class="form-control" name="citizenshipfront"  >
                          </div>
                        </div>
                          <div class="form-group">

                          <div class="col-xs-6">
                            <label for="file"><h4>Citizenship Back</h4></label>
                              <input type="file" class="form-control" name="citizenshipback"  >
                          </div>
                        </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                  <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
                     
                </form>
              </div>

              </div>
                <div class="tab-pane active" id="notification">
               
              <hr>

             </div><!--/tab-pane-->
           <!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
<script>
    $(document).ready(function() {


    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.avatar').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }


    $(".file-upload").on('change', function(){
        readURL(this);
    });
});
</script>
{% else %}
 <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

{% endblock %}